contourpy
cycler
darkdetect
fonttools
geographiclib
geopy
joblib
kaleido
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
plotly
pyparsing
PyQt6
PyQt6-Qt6
PyQt6_sip
pyqtdarktheme
pyqtgraph=
python-dateutil
pytz
scikit-learn
scipy
six
tenacity
threadpoolctl
tzdata
vtk
