contourpy
cycler
darkdetect
fonttools
geographiclib
geopy
joblib
kaleido
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
plotly
pyparsing
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.11.0
pyqtgraph==0.14.0
pyvista==0.46.2
pyvistaqt==0.11.3
qt-material==2.17
python-dateutil
pytz 
rcaide
scikit-learn
scipy
six
tenacity
threadpoolctl
trimesh==4.11.1
tzdata
vtk==9.5.2
