contourpy==1.2.1
cycler==0.12.1
darkdetect==0.7.1
fonttools==4.53.1
geographiclib==2.0
geopy==2.4.1
joblib==1.4.2
kaleido==0.2.1
kiwisolver==1.4.5
matplotlib==3.9.2
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pillow==10.4.0
plotly==5.23.0
pyparsing==3.1.2
PyQt6==6.7.1
PyQt6-Qt6==6.7.2
PyQt6_sip==13.8.0
pyqtdarktheme==2.1.0
pyqtgraph==0.13.7
python-dateutil==2.9.0.post0
pytz==2024.1
-e git+https://github.com/leadsgroup/RCAIDE.git@f800b573aafaa89a3f3f1318571ff0fecb5b02b1#egg=RCAIDE
scikit-learn==1.5.1
scipy==1.11.3
six==1.16.0
tenacity==8.5.0
threadpoolctl==3.5.0
tzdata==2024.1
vtk==9.3.1
